.separators {
  height: 35px;
  background-color: white;
  width: 2px!important;
}
button {
  margin: 10px 30px
}
button:hover{
  background-color:#32beddba!important ;
}
i {
  margin-right: 6px!important
}
