.table tbody tr:hover {
  background-color: #343a40; /* Darker shade for hover effect */
  transition: background-color 0.3s;
}

.text-success {
  color: #28a745 !important;
}

.text-warning {
  color: #ffc107 !important;
}

.text-danger {
  color: #dc3545 !important;
}
.table tbody tr:hover {
  background-color: #343a40; /* Darker shade for hover effect */
  transition: background-color 0.3s;
}

.text-success {
  color: #28a745 !important;
}

.text-warning {
  color: #ffc107 !important;
}

.text-danger {
  color: #dc3545 !important;
}

.container-fluid h2, .container-fluid h3 {
  color: white;
}

.btn-primary {
  background-color: #007FFF;
  border-color: #007FFF;
}

.btn-primary:hover {
  background-color: #005a9e;
  border-color: #005a9e;
}

.btn-success {
  background-color: #12bb12;
  border-color: #12bb12;
}

.btn-success:hover {
  background-color: #12bb12ad;
  border-color: #12bb12b2;
}

.btn-danger {
  background-color: #D52B1E;
  border-color: #D52B1E;
}

.btn-danger:hover {
  background-color: #b72e00;
  border-color: #b72e00;
}

button{
  padding: 0px!important;
  padding-top:4px;
  padding-left:8px!important;
  padding-right:8px!important;
  text-align: center;
}
