<div class="container-fluid pt-5" >
  <h2>Create request</h2>
  <form class="w-50" [formGroup]="requestForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="environment_type">Environment Type</label>
      <select id="environment_type" class="form-control" formControlName="environment_type" required>
        <option value="">Select an environment</option>
        <option value="Production">Production</option>
        <option value="Pre-Production">Pre-Production</option>
        <option value="Development">Development</option>
        <option value="Test">Test</option>
      </select>
      @if(requestForm.get('environment_type')?.touched && requestForm.get('environment_type')?.invalid){
        <div class="text-danger">
          Environment type is required.
        </div>
      }
    </div>

    <div class="form-group">
      <label for="machineName">Machine Name</label>
      <input id="machineName" type="text" class="form-control" formControlName="machineName" required />
      @if(requestForm.get('machineName')?.touched && requestForm.get('machineName')?.invalid){
        <div class="text-danger">
          Machine name is required.
        </div>
      }
    </div>

    <div class="form-group">
      <label for="machineDescription">Machine Description</label>
      <textarea id="machineDescription" class="form-control" formControlName="machineDescription" required></textarea>
      @if(requestForm.get('machineDescription')?.touched && requestForm.get('machineDescription')?.invalid){
        <div class="text-danger">
          Machine description is required.
        </div>
      }
    </div>

    <div class="form-group">
      <label for="desired_start_date">Desired Start Date</label>
      <input id="desired_start_date" type="date" class="form-control" formControlName="desired_start_date" required />
      @if(requestForm.get('desired_start_date')?.touched && requestForm.get('desired_start_date')?.invalid){
        <div class="text-danger">
          Desired start date is required.
        </div>
      }
    </div>

    <div class="form-group">
      <label for="operating_system">Operating System</label>
      <select id="operating_system" class="form-control" formControlName="operating_system" required>
        <option value="">Select an operating system</option>
        <option value="Windows Server 2016">Windows Server 2016</option>
        <option value="Windows Server 2019">Windows Server 2019</option>
        <option value="Linux RHEL 7.X">Linux RHEL 7.X</option>
        <option value="Linux RHEL 8.X">Linux RHEL 8.X</option>
      </select>
      @if(requestForm.get('operating_system')?.touched && requestForm.get('operating_system')?.invalid){
        <div class="text-danger">
          Operating system is required.
        </div>
      }
    </div>

    <div class="form-group">
      <label for="disk_space">Disk Space</label>
      <input id="disk_space" type="text" class="form-control" formControlName="disk_space" required />
      @if(requestForm.get('disk_space')?.touched && requestForm.get('disk_space')?.invalid){
        <div class="text-danger">
          Disk space is required.
        </div>
      }
    </div>

    <div class="form-group">
      <label for="ram">RAM</label>
      <input id="ram" type="text" class="form-control" formControlName="ram" />
    </div>

    <div class="form-group">
      <label for="vcpus">vCPUs</label>
      <input id="vcpus" type="text" class="form-control" formControlName="vcpus" />
    </div>

    <div class="form-group">
      <label for="software_list">Software List (name:version)</label>
      <textarea id="software_list" class="form-control" formControlName="software_list"></textarea>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="requestForm.invalid">Submit</button>
  </form>
</div>
