<div class="container-fluid" style="height:745px!important">
  <h1 class="text-center mt-5">VM Provisioner</h1>
  <p class="text-center mt-5">OR</p>
  <div class="d-flex align-items-center justify-content-center">
    <div class="login mx-3">
      <button [routerLink]="['/login']" style="background-color: #32BEDD; color:white; padding: 4px 15px; width:200px">
        <a style="text-decoration: none; color:white">Login</a>
      </button> <br>
    </div>
    <div class="separator">
    </div>
    <div class="signup mx-3">
      <button [routerLink]="['/admin-signup']" class="mb-2" style="background-color: #32BEDD; color:white; padding: 4px 15px; width:200px">
        <a style="text-decoration: none; color:white">Sign up as Admin</a>
      </button> <br>
      <button [routerLink]="['/signup']" style="background-color: #32BEDD; color:white; padding: 4px 15px; width:200px">
        <a style="text-decoration: none; color:white">Sign up as Demander</a>
      </button>
    </div>
  </div>


</div>
