<div class="container-fluid">
  <h1 class="text-center mt-5">VM Provisioner</h1>
  <p class="text-center mt-5">OR</p>
  <div class="d-flex align-items-center justify-content-center">
    <div class="login mx-3">
      <button style="background-color: #32BEDD; color:white; padding: 4px 15px ; width:200px">
        <a href="" style="text-decoration: none; color:white">Login</a>
      </button> <br>
    </div>
    <div class="separator">
      <!--separator-->
    </div>
    <div class="signup mx-3">
      <button class="mb-2" style="background-color: #32BEDD; color:white; padding: 4px 15px; width:200px">
        <a href="" style="text-decoration: none; color:white">sign up as admin</a>
      </button> <br>
      <button style="background-color: #32BEDD; color:white; padding: 4px 15px; width:200px">
        <a href="" style="text-decoration: none; color:white">sign up as demander</a>
      </button>
    </div>
  </div>
</div>
