/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f3f3f3;
  }
.form-group {
  height: 60px;
  margin-bottom: 15px!important;
}
  .btn-primary {
    background-color: #0078d4;
    border-color: #0078d4;
  }

  .btn-primary:hover {
    background-color: #005a9e;
    border-color: #005a9e;
  }
.container-fluid{
  padding-top: 10px;
  background-color: #131314!important;
  height: 1000px!important;
  color: white;
  padding-bottom:40px!important
}

.green {
  color: #30C730
}
.red {
  color: #F70101
}
.fa-times-circle, .fa-check-circle{
  font-size: 14px!important;
}

.form-control {
  height: 30px!important; /* Adjust the height as needed */
}
label {
  font-weight: 400;
}
